.container{
  padding: 0 40px 0 120px;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 30px 0 80px;
}
.breadcrumbs-link {
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-400);
  text-decoration: none;

  margin: 0 8px;

  transition: color .2s linear;
}
.breadcrumbs-link svg{
  transition: fill .2s linear;
}
.breadcrumbs-link svg:hover{
  fill: var(--black-300)
}
.breadcrumbs-link:hover{
  color: var(--black-300);
}

@media screen and (max-width: 768px) {
  .container{
    padding: 0 16px 0 8px;
  }
  .breadcrumbs {
    margin: 16px 0 32px;
  }
}