.contentSelected {
  max-width: 715px;
  width: 100%;
  padding-left: 32px;
}
.content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black-300);
}
.content {
  padding-top: 12px;
}
.content-paragraph {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--gray-600);

  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .contentSelected {
    max-width: 100%;
    padding-left: 0;
  }
  .content {
    padding-top: 16px;
  }
  .content-title {
    text-align: center;
  }
  .content-paragraph {
    padding-bottom: 30px;
    
    text-align: justify;
    font-size: 12px;
    line-height: 18px;
  }
}
