.item-button {
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-600);
  text-align: left;

  padding: 10px 16px;
  transition: all .2s ease-in-out;
}
.item-button:hover:not(.is-selected){
  background-color: var(--gray-200);
  color: var(--black-500);
}

.is-selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  background-color: var(--blue-500);
  color: #fff;
}