.container{
  padding: 0 40px 0 128px;
}
.title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
  
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container{
    padding: 0 16px;
  }
}