.navigationContent {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
}

.navigation {
  max-width: 270px;
  width: 100%;
}

.navigation-list {
  border-right: 1px solid var(--gray-300);
}

@media screen and (max-width: 768px) {
  .navigationContent{
    flex-direction: column;
    margin-top: 22px;
  }
  .navigation{
    max-width: 100%;
    margin-bottom: 40px;
  }
  .navigation-list{
    border: none;
  }
}