.newsletter {
  margin: 170px 0 25px;
  padding: 16px 0;

  border: 1px solid var(--gray-200);
  border-right: 0;
  border-left: 0;
}
.container{
  max-width: 475px;
  width: 100%;

  margin: 0 auto;
}
.newsletter__label {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: var(--black-200);
}
.newsletter__form-group{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.newsletter__email {
  max-width: 312px;
  width: 100%;

  padding: 14px;

  border: 1px solid var(--gray-300);
  border-radius: 4px;
  outline: 0;

  transition: border .2s linear;
}
.newsletter__email::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gray-400);
}
.newsletter__email:focus {
  border: 1px solid var(--black-300);
}

.newsletter__button {
  max-width: 126px;
  width: 100%;

  padding: 14px 0;
  margin-left: 8px;

  background: var(--blue-500);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 4px;
  border: 0;
  outline: 0;
  
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-align: center;
  color: #fff;

  cursor: pointer;
  transition: background 0.2s linear;
}
.newsletter__button:hover {
  background-color: var(--blue-400);
}
.newsletter__button:active {
  background-color: var(--blue-500);
}
.form__error{
  color: #dc143c;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .newsletter {
    margin: 30px 0 24px;
    padding: 20px 16px 32px;
  }
  .newsletter__label{
    font-size: 14px;
    line-height: 16px;
  }
  .newsletter__form-group{
    flex-direction: column;
    margin-top: 12px;
  }
  .newsletter__button,
  .newsletter__email {
    max-width: 100%;
    padding: 18px;
    border-radius: 0;
  }
  .newsletter__email{
    width: calc(100% - 38px);
  }
  .newsletter__button {
    margin: 16px 0 0;
    box-shadow: none;
  }
}