.infosFooter__titles {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;

  padding-bottom: 4px;
}
.infosFooter__morelist{
  display: none;
}
@media screen and (max-width: 768px) {
  .infosFooter__column{
    padding-bottom: 24px;
  }
  .infosFooter__title--mobile{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .infosFooter__morelist{
    display: block;
  }
  .infosFooter-list--mobile{
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  .infosFooter-list--mobile.open-infos{
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .2s ease-in-out;
  }
}