.infosFooter{
  padding: 25px 0 44px;
}
.container {
  display: flex;
  justify-content: space-between;

  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1028px) {
  .infosFooter{
    padding: 24px 22px 32px;
  }
}
@media screen and (max-width: 768px) {
  .infosFooter{
    padding: 24px 28px 32px;
  }
  .container{
    flex-direction: column;
  }
}