.infosFooter-item {
  padding: 6px 0;
}
.infosFooter-item__link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--black-200);

  transition: color .2s linear;
}
.infosFooter-item__link:hover {
  color: var(--blue-500);
}
.infosFooter-item__link--underline {
  text-decoration: underline;
}
.infosFooter-item-contact__title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  font-style: normal;
  color: var(--black-200);

  padding: 0.2rem 0;
}
.infosFooter-item-contact__description {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #303030;
}