.infosFooter-socialMedia {
  display: flex;
  flex-direction: column;
}
.infosFooter-socialMedia__links {
  display: flex;
  align-items: center;
}
.infosFooter-socialMedia__item {
  margin-left: 10px;
}
.infosFooter-socialMedia-website {
  margin-top: 10px;
}
.infosFooter-socialMedia-website__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--black-200);

  transition: color .2s linear;
}
.infosFooter-socialMedia-website__link:hover{
  color: var(--blue-500);
}
@media screen and (max-width: 768px) {
  .infosFooter-socialMedia-website{
    display: none;
  }
}