.form-inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__label {
  margin-left: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--black-400);
  padding: 12px 0 4px;
}
.form__input {
  border: 1px solid var(--black-400);
  border-radius: 25px;
  padding: 12px 28px;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--gray-500);
}
.form__error{
  position: absolute;
  top: 20px;
  right: 0;
  color: #dc143c;
  font-size: 12px;
}