.content-selected {
  max-width: 715px;
  width: 100%;
}
.form{
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}
.form__title {
  font-size: 24px;
  line-height: 23px;
  font-weight: 400;
  color: var(--black-500);

  margin-bottom: 22px;
}
.form-button {
  width: 100%;
  padding: 8px 0;
  background: var(--blue-400);

  border-radius: 25px;
  border: 0;
  outline: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white;
  
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .content-selected{
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .form{
    max-width: 100%;
  }
  .form__title {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  .content-selected{
    margin-left: 0;
  }
}