.form-term {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
.form-term__group {
  display: flex;
}
.form-term__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration: underline;
  color: var(--black-400);
  cursor: pointer;
}
.form-term__span {
  color: var(--blue-500);
  cursor: help;
}
.form-term__input-group {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12px;
}
.form-term__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.form-term__input--custom {
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 3px;
  position: relative;
  pointer-events: none;
}
.form-term__input--custom::after {
  content: "";
  position: absolute;
  display: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--blue-500);
}

.form-term__input:checked ~ .form-term__input--custom::after {
  display: block;
}
.form-term__error {
  color: #dc143c;
  font-size: 12px;
  margin-top: 5px;
}
