.footer-home__creators {
  display: flex;
}
.footer-home__creators-powered,
.footer-home__creators-developed {
  display: flex;
  align-items: center;

  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  
  color: inherit;
}

.footer-home__creators-powered svg,
.footer-home__creators-developed svg {
  padding-left: 8px;
}

.footer-home__creators-developed{
  margin-left: 16px;
}
@media screen and (max-width: 768px) {
  .footer-home__creators{
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .footer-home__creators{
    justify-content: flex-start;
  }
}