.footer-home {
  display: flex;
  background-color: var(--black-100);
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  color: #fff;
}

.footer-home__text {
  max-width: 234px;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
}

.footer-home__text--mobile{
  display: none;
}

.footer-home__payments{
  display: flex;
  align-items: center;
}
.footer-home__payments--division{
  display: flex;
  align-items: center;
  padding-left: 6px;
}
.footer-home__payments--division:first-child{
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .footer-home{
    flex-direction: column;
    padding: 16px;
  }
  .footer-home__text{
    max-width: 100%;
  }
  .footer-home__text--mobile{
    display: flex;
    justify-content: center;
    margin: 18px 0 24px;
  }
  .footer-home__text--desktop{
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer-home__text--mobile{
    display: block;
  }
}
@media screen and (max-width: 374px) {
  .footer-home__payments{
    flex-direction: column;
    width: 100%;
  }
  .footer-home{
    align-items: center;
  }
  .footer-home__text--mobile{
    text-align: center;
  }
  .footer-home__payments--division:last-child{
    margin-top: 10px;
  }
}