.footer-home__payments-band{
  padding: 0 7px;
}
.footer-home__payments-band:first-child{
  padding: 0 7px 0 0;
}
.footer-home__payments-band--vtexPci{
  margin-left: 7px;
  padding: 0 0 0 10px;
  border-left: 1px solid var(--gray-400);
}

@media screen and (max-width: 425px) {
  .footer-home__payments-band{
    max-width: 30px;
    padding: 0 5px;
  }
  .footer-home__payments-band:first-child{
    padding: 0 5px 0 0;
  }
  .footer-home__payments-band--vtexPci{
    max-width: 45px;
  }
}