.input-search {
  position: relative;
  display: flex;
  align-items: center;
}
.inputHeader {
  width: 216px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  outline: 0;

  padding: 8px 32px 8px 12px;

  transition: border .2s linear;
}
.inputHeader:focus {
  border-color: var(--black-300);
}
.input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-400);
}
.icon-input {
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.input-search--mobile{
  display: none;
}

@media screen and (max-width: 768px) {
  .input-search--desktop{
    display: none;
  }
  .input-search--mobile{
    display: flex;
    margin-top: 32px;
  }
  .input-search--mobile .inputHeader{
    width: 100%;
  }
}