.container{
  padding: 0 40px 0 110px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-menu{
  display: none;
}
.header-links {
  display: flex;
  align-items: center;
}
.login {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;

  transition: color .2s linear;
}
.login:hover{
  color: var(--black-300);
}
.cart {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  margin-left: 40px;
}
.cart svg{
  transition: fill .2s linear;
}
.cart svg:hover{
  fill: var(--black-300);
}
@media screen and (max-width: 768px) {
  .container{
    padding: 0 16px;
  }
  .icon-menu{
    display: block;
    cursor: pointer;
  }
  .login{
    display: none;
  }
  .cart{
    margin-left: 0;
  }
}