.submenu {
  margin-top: 18px;
  padding: 14px 0;
  border-top: 1px solid var(--gray-400);
}
.container{
  padding: 0 40px 0 110px;
}
.submenu-links{
  display: flex;
}
.submenu-links--desktop {
  max-width: 258px;
  width: 100%;

  justify-content: space-between;
}
.submenu-link{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;

  transition: color .2s linear;
}
.submenu-links--desktop .submenu-link{
  color: #fff;
}
.submenu-links--mobile{
  position: absolute;
  z-index: 5;
  top: 0;
  width: 66%;
  height: 100%;

  background-color: #fff;

  flex-direction: column;

  transform: translateX(-100%);
  transition: all .2s .1s linear;
}
.submenu-links .submenu-link:hover{
  color: var(--black-300);
}
.submenu--absolute{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, .8);

  transition: all .2s linear;
}
@media screen and (max-width: 768px) {
  .submenu{
    border-top: none;
    margin-top: 0;
    padding: 0;
  }
  .submenu-links--desktop{
    display: none;
  }
  .submenu-links--mobile .submenu-link{
    width: 100%;
    padding: 10px 0;

    text-align: center;
    color: var(--blue-500);

    border-bottom: 1px solid var(--blue-500);
  }
  .submenu--absolute.is-open{
    opacity: 1;
    visibility: visible;
  }
  .submenu-links--mobile.is-open{
    transform: translateX(0);
  }
}